<section class="card-wrapper">
  <div class="card">
    <div class="card-section">
      <b class="text-muted">IP address</b>
      <strong> 125.5.63.5 </strong>
    </div>
    <div class="card-section">
        <b class="text-muted">Location</b>
        <strong> 125.5.63.5 </strong>
      </div>
      <div class="card-section">
        <b class="text-muted">Timezone</b>
        <strong> 125.5.63.5 </strong>
      </div>
      <div class="card-section">
        <b class="text-muted">isp</b>
        <strong> 125.5.63.5 </strong>
      </div>
  </div>
</section>
